@font-face {
    font-family: OrangeKid;
    src: url(fonts/OrangeKid.otf);
}

@font-face {
    font-family: VPPixel;
    src: url(fonts/VPPixel.otf);
}

:root {
    --padding: 10px;
    --margin: 15px;

    --bg-color: #000000;
    --main-color: #23e000;
    --font-color: #ffffff;
    --accent-color: #04d9ff;
    --half-bg-color: rgba(0, 0, 0, 0.6);

    --text-border: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    --round-corners: 25px;

    --accent-border: 2px dotted #04d9ff;

    --title-font: "VPPixel", "OrangeKid", serif;
    --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --card-width: 20rem;
}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    height: 28px;
    display: flex;
    align-items: center;

}

header p {
    font-weight: bold;
    color: var(--bg-color);
    font-family: var(--main-font);
    margin: 0;
    padding: 0;
    margin-left: var(--margin);
    padding-left: var(--padding);
}

body {
    background-color: var(--bg-color);
    background-image: url(images/starBG5.png);
    font-family: var(--main-font);
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

main {
    margin: var(--margin);
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    color: var(--main-color);
    text-shadow: var(--text-border);
}

h1 {
    font-size: 140px;
}

h2 {
    font-size: 80px;
}

h3 {
    font-size: 30px;
}

#banner-section {
    height: 500px;
}

#menu-area {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

#half-moon {
    position: absolute;
    width: 220px;
    top: 120px;
    z-index: 1;
}

#title-area-text {
    z-index: 5;
    position: relative;
    top: 145px;
    left: 50px;
}



#title-description {
    z-index: 5;
    position: relative;
    top: -20px;
    left: 195px;
    font-size: 25px;
    background: var(--half-bg-color);
}


@media (width < 760px) {
    #title-area-text {
        left: 0px;
    }

    #title-description {
        left: 215px;
    }
}

@media (width < 585px) {
    h1 {
        font-size: 120px;
    }
}

@media (width < 475px) {
    h1 {
        font-size: 100px;
    }

    #title-description {
        left: 150px;
    }
}

@media (width < 405px) {
    h1 {
        font-size: 80px;
    }

    #title-description {
        left: 100px;
    }
}

#ufo {
    position: absolute;
    margin-left: auto;
    margin-right: 0;
    text-align: center;
    right: 0;
    z-index: 1;
    width: 350px;
}

#menu {
    position: relative;
    z-index: 5;
    background-color: var(--half-bg-color);
    width: 50%;
    border-radius: var(--round-corners);
    font-size: 30px;
    top: 180px;
    left: 70px;
}

@media (width < 1200px) {
    #menu {
        left: 30px;
    }
}

#hidden-menu {
    float: right;
    display: none;
}

#myNav {
    display: none;
}

/* If mobile, make top menu bigger, hide menu, and show hidden menu */
/* Some of the code used for the pop out menu was learned from https://www.w3schools.com */
/* Nothing else was taken from a website, just the stuff for a mobile pop out menu */
@media (width < 992px) {
    header {
        height: 60px;
    }

    header p {
        margin-left: 0;
        padding-left: 0;
    }

    #hidden-menu {
        display: block;
    }

    #myNav {
        display: block;
    }

    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 20;
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlay-content {
        position: relative;
        top: 10%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .menu-area {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .ufo {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        left: 0;
        right: 15px;
        z-index: 11;
        width: 350px;
    }

    .menu-area ul {
        position: relative;
        z-index: 15;
        background-color: var(--half-bg-color);
        width: 50%;
        border-radius: var(--round-corners);
        font-size: 30px;
        top: 180px;
    }

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .overlay a:hover,
    .overlay a:focus {
        color: #f1f1f1;
    }

    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }

    #menu-area {
        display: none;
    }
}

#menu>li {
    height: 55px;
}

.menu-item a {
    text-decoration: none;
}

.nav-link,
.nav-link:visited {
    color: var(--font-color);
    text-shadow: var(--text-border);
}

.nav-link:hover {
    text-decoration: underline;
    color: var(--accent-color);
}

#projects-area {
    margin-top: 20px;
    justify-content: center;
}

.project-container {
    display: flex;
    justify-content: center;
    padding: var(--padding);
}

#all-projects {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    width: var(--card-width);
    background: var(--half-bg-color);
    border: var(--accent-border);
    margin-bottom: 30px;
}

.card-body {
    margin: 1rem;
    margin-top: 0;
}

.card-title {
    color: var(--main-color);
}

.card-text {
    color: var(--font-color);
    text-shadow: var(--text-border);
}

.project-image {
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 18rem;
}

.btn-info {
    background: var(--accent-color);
}


#contact-section {
    background: var(--half-bg-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

#contact-row {
    display: flex;
    justify-content: space-between;
}

.contact-area {
    padding: 20px;
}

#contact-info {
    font-size: 25px;
    text-shadow: var(--text-border);
}

#contact-info>ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
}

#contact-info a {
    color: var(--accent-color);
}

#contact-image {
    width: 150px;
}


#about-section {
    margin-bottom: 20px;
    padding: 24px;
    background: var(--half-bg-color);
    border-radius: var(--round-corners);
}

#about-image {
    float: left;
    width: 450px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.about-text {
    text-align: justify;
    font-size: 25px;
    text-shadow: var(--text-border);
}


footer {
    text-shadow: var(--text-border);
    background: var(--half-bg-color);
}